.boards {
  width: 100%;

  min-height: 10px;
  overflow-y: auto;
}
.bg_board {
  width: 100%;
  /* background-color: pink; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px;
  border-radius: 3px;
}
.btn_add_card {
  display: flex;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 3px;
  cursor: pointer;
}
.boards_overflow {
  width: 20vw;
  height: 79vh;
  overflow-y: auto;
}
.add_section {
  width: 95%;

  display: flex;
  justify-content: end;
}
.heading {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: 'Roboto';
  text-align: left;
}
.subheading {
  font-weight: 600;
}
.delete_board {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  display: none;
  box-shadow: 5px 5px 10px gray;
  border: 2px solid rgb(244, 243, 243);
}
.visible_deleteBoard {
  display: block;
}
.username_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(131, 131, 132);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.r_header {
  display: flex;
  align-items: center;
}
.r_header div {
  padding: 5px;
}
.board_header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 0.5rem;

  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
::-webkit-scrollbar {
  display: none;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(208, 207, 207);
  border-radius: 10px;
  height: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 148, 148);
}
.board {
  margin: 0.7rem;
  flex-shrink: 0;
  flex-basis: 300px;
  width: 18rem;
}
/* .board_header {
  display: flex;
} */
