.boards {
  width: 20vw;
  height: 100vh;
  overflow-y: auto;
  background-color: bisque;
}
.boards_overflow {
  width: 20vw;
  height: 79vh;
  overflow-y: auto;
}
.add_section {
  width: 95%;

  display: flex;
  justify-content: end;
}
.heading {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: "Roboto";
  text-align: left;
}
.subheading {
  font-weight: 600;
}
.delete_board {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  display: none;
  box-shadow: 5px 5px 10px gray;
  border: 2px solid rgb(244, 243, 243);
}
.visible_deleteBoard {
  display: block;
}
.board_header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: var(--theme_color);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(208, 207, 207);
  border-radius: 10px;
  height: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(148, 148, 148);
}
