.card {
  width: 95%;
  height: 8rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
