.add_form {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  width: 40vw;
  height: auto;
  font-style: 'Roboto';
  /* flex-direction: column; */
  display: none;
  position: absolute;
  left: 25%;
  top: 60px;
  z-index: 12;
  box-shadow: 1px 5px 5px 5px rgb(102, 101, 101);
}
.visible {
  display: flex;
  flex-direction: column;
}
.titleField {
  width: 90%;
  height: 2rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  border: 1.5px solid rgb(201, 200, 200);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
}
.check {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 2000vh;
  display: none;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
}
.descField {
  width: 90%;
  padding: 0.5rem;
  height: 5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  border: 1.5px solid rgb(201, 200, 200);
  border-radius: 0.5rem;
  outline: none;
}

.overlay {
  display: block;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;

  /* background-color: rgba(255, 255, 255, 0.7); */
}
.cross {
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}
.cross:hover {
  border: 2px dotted black;
}
label {
  font-size: 1.2rem;
}
.bottomContainer {
  display: flex;
  width: 95%;
  margin: 1rem auto;
  justify-content: space-between;
}
select {
  margin: 0.5rem;
  height: 2rem;
  width: 5rem;
  font-size: 1rem;
  border: 1.3px solid rgb(219, 219, 219);
  border-radius: 6px;
  outline: none;
}
.date {
  margin: 0.5rem;
  font-size: 1rem;
  color: grey;
  background-color: rgb(218, 218, 218);
  border-radius: 0.3rem;
  padding: 0.2rem;
}
.buttonContainer {
  width: 80%;

  margin: 1rem;
}
.buttonContainer_Update {
  display: flex;
  margin: 0.5rem;
}
