:root {
  --theme_color: rgb(153, 153, 254);
  --theme_background: rgb(214, 214, 253);
}
html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: "Roboto";
  background-color: var(--theme_background);
}
.board_container {
  display: flex;
  justify-content: space-around;
}
.App {
  position: relative;
}
