:root {
  --theme_color: rgb(153, 153, 254);
  --theme_background: #112233;
  /* --theme_background: #eeeded; */
  /* --theme_background: rgb(214, 214, 253); */
}
html {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

  background-image: url(./components/bg_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #112233;
  /* background-color: var(--theme_background); */
}
.parent_container {
  /* background-color: #112233; */
  /* background-image: url('https://wallpapercave.com/wp/wp2555928.jpg'); */

  width: 100vw;
}
/* .board_container {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  width: 2000vw;
  padding-top: 5rem;
} */
.board_container {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem;
  width: 100vw;
  padding-top: 5rem;
  box-sizing: border-box;
}
.add_btn {
  margin: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  align-items: center;
  width: 7rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--theme_color);
  border: none;
  font-size: 1.2rem;
  font-weight: 550;
}
summary {
  list-style-type: none;
}
